* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    background-color: #B2B2B2;
    padding-top: 4.5rem;
  }

  .container{
    padding-bottom: 3%;
  }

  .searchpad{
    width: 1rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    gap: 10px;    
  }

  .searchpa{    
    padding-left: 1rem;
    background: white;
    border-radius: 0.5rem;
    gap: 10px;  
  }

  .titulo{   
    margin-left: 45%;
    font-size: x-large;
    font-weight: bold;    
  }
  
  